.full-width-table {
  width: 100%;
}

mat-action-list.list-horizontal {
  padding: 3;

  a.action-button {
    text-decoration: none;
    display: inline-block;
    height: auto;
    width: auto;
  }
}
